<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/chat_room.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" crossorigin="anonymous" defer></script>
    <script src="/js/home/chat_room.js" defer></script>
    <title>Chat</title>
</head>
<body style="width: 100%;">
    <h1>채팅방</h1>
</body>
</html>