<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/chat_room.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" crossorigin="anonymous" defer></script>
    <script src="/js/home/chat_room.js" defer></script>
    <title>Chat</title>
</head>
<body>
    <div class="left">
        <div class="up"> 
        </div>
        <div class="down">
            <!-- main vedio -->
             <video id="main" class="main" autoplay></video>
             <div class="menu">
                <button>마이크</button>
                <button>화상</button>
                <button onclick="go_main()">나가기</button>
             </div>
        </div> 
    </div>
    <div class="right">
        채팅 <임시>
    </div>
</body>
</html>