<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>login</title>
</head>

<body>
    <div class="login_window">
        <br>
        <span class="login_text">Login</span>
        <p id="fail_content">.</p>
        <br>
        <input type="text" placeholder="ID" class="input_text" id="id" style="margin-right: 6%;">
        <br> <br>
        <input type="password" id="pw" placeholder="Enter your password" class="input_text" >
        <span onclick="togglePassword()" id="visibility" style="cursor: pointer;">■</span>
        <br>
        <p style="font-size: 1.2vmin;">Don't have Account? <a href="/register" style="color: rgb(55, 55, 248);">register</a></p>
        <button class="login_btn" id="login_btn">Login</button>
    </div>
</body>

</html>