<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/main.css">
    <script src="/js/home/main.js" defer></script>
    <title>main</title>
</head>

<body>
    <div class="up">
        <h1 style="float: right; margin-right: 2%;">Similarity Zoom</h1>
        <span style="float: left; margin-left: 2%; margin-top: 2%; font-weight: bold;">By. KimDaeYoung</span>
    </div>
    <div class="left">내 정보</div>
    <div class="right">
        <div>

        </div>
    </div>
    <div class="bottom">tel. 010-2XX2-64XX or 광고</div>
    <div class="modal" >
        <p style="font-size: 1.7vmin; font-weight: bold;">방 생성</p>
        <input type="text" placeholder="방이름" class="room_text">
        <br> <br>
        <span style="position: relative; font-size: 1.6vmin; top: 3%;">인원 수 </span>
        <input type="number" placeholder="인원 수 (2~10)" class="room_text" style="font-size: 1.6vmin; font-weight: bold; float: right; width: 30%; margin-right: 30%;" id="person_number" value="2">
        <br> <br>
        <input id="n_pw" type="password" placeholder="비밀번호 (숫자만 가능)" class="room_text">
        <div style="font-size: 1.3vmin; float: left; width: 100%;">
            <input type="checkbox" id="check_pw" checked><span>사용</span>
        </div>
        <br> <br>
        <button class="room_btn">생성</button>
    </div>
    <button class="create_room" id="create_btn"><span class="btn_font" id="label_btn">+</span></button>
</body>

</html>